@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body
{
    background-color: #c15151;
    font-family: 'Fira Code', monospace;
    color: #DEDEDE;
}

h1
{
    text-align: center;
    font-size: 55px;
}

#statut
{
    text-align: center;
}

#statut > p
{
    display: inline;
    font-size: 30px;
}

#timer
{
    margin-top: 3%;
    text-align: center;
}

#timerCircle
{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border-style: solid;
    margin: auto;
}

#timerTime
{
    margin-top: 42%;
    font-size: 40px;
}

#timerSetting
{
    text-align: center;
    margin-top: 3%;
}

#timerSetting > .timeButton
{
    background-color:#131313;
    border-style: solid;
    border-width: 0.5px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1.2%;
    padding-top: 1.2%;
    color: #DEDEDE;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    border-radius: 1.2em;
    cursor: pointer;
    
}


#timerSetting > .playButton
{
    background-color:#c42b2b;
    border: none;
    height: 100px;
    width: 100px;
    color: #DEDEDE;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

#timerSetting > .configButton
{
    border: none;
    margin-top: 2%;
    font-size: 25px;
    padding: 15px;
    color: #DEDEDE;
    background-color: #c42b2b;
    font-family: 'Fira Code', monospace;
    border-radius: 0.5em;

}

#timerConfig
{
    margin-top: 2%;
    text-align: center;
    font-size: 25px;    
}

.timeConfig
{
    background-color: #c15151;
    color: #DEDEDE;
    border: none;
    font-size: 20px;
    display: inline;
}
